@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

footer{
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

#chapter-10 blockquote:first-of-type,
#chapter-11 blockquote:first-of-type{
	font-style: italic;
}
